$namespace: "v-" !default;

$color-background:#f4f4f4;
$color-theme:#31c27c;
$color-positive:#31c27c;
$color-negative:rgba(0, 0, 0, .6);

$color-dark:#000;
$color-dark-grey:#333;
$color-grey :#666;
$color-light-grey :#999;
$color-light-grey-s :#ccc;
$color-light-grey-ss :#eee;
$color-white: #fff;

$font-size-large-xxxx: 30px;
$font-size-large-xxx: 24px;
$font-size-large-xx: 20px;
$font-size-large-x: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-small-s: 10px;

$radius-size-medium: 0.3rem;
$radius-size-small: 0.1rem;

$box-shadow-content: 0 1px 3px rgba(0, 0, 0, .1);
